@import "tailwindcss";
@import "./ui/shadcn/theme.css";

@layer base {
  .reset-button,
  button {
    padding: 0;
    border: 0;
    outline: 2px solid transparent;
    outline-offset: 2px;
    cursor: pointer;
    background-color: transparent;
    font-family: inherit;
    font-size: 1rem;
  }

  .reset-label {
    margin-bottom: 0;
  }

  .reset-p {
    margin: 0;
  }

  .reset-link {
    text-decoration: none;
    color: inherit;
  }
  .reset-link:hover {
    color: inherit;
    text-decoration: none;
  }

  :root {
    font-family: "Twemoji Country Flags", -apple-system, Inter, system-ui, Avenir, Helvetica, Arial,
      sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --card-size: 310px;
    --app-horizontal-padding: 16px;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    position: relative;
    background: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
  }

  #root {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  i,
  p,
  input,
  select,
  textarea {
    color: var(--tg-theme-text-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
    font-weight: bold;
  }

  /* for wysiwyg */
  h1 {
    font-size: 64px;
  }

  /* prevent buttons from being colored in blue on click on android */
  input,
  textarea,
  button,
  select,
  div,
  a {
    -webkit-tap-highlight-color: transparent;
  }

  /* fix for browser version to avoid monospace */
  textarea {
    font-family: inherit;
  }

  /* RTL support */
  [dir="rtl"] {
    direction: rtl;
    text-align: right;
  }
}
