:root {
  font-family: -apple-system, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.scrollable-content {
  height: 100%;
  overflow-y: scroll;
  transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;

  padding: 0 16px 0 16px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 16px 0 16px;
  position: relative;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
p,
input,
select,
textarea {
  color: var(--tg-theme-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
